*{
    box-sizing: border-box;
    font-family: "open Sans";
}
 body{
    margin: 0 0;
}
@media (min-width: 800px) and (orientation: landscape) {
	.body {
		width: 1440px;
		height: 346px;
	}
}
.contenedor-general{
    width: 100%;
    height: 100%;
}

.contenedor-superior{
    width: 100%;
    height: 603px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo{
    width: 54px;
    height: 50px;
    margin: 18px 17px;
}

.hamburger{
    display: inline-block;
    width: 36px;
    height: 32px;
    margin: 29px 20px;
}
@media (min-width: 800px) and (orientation: landscape) {
    .hamburger {
      display: none;
    }
}

@media (min-width: 800px) and (orientation: landscape){
   
}
  .bar{
    display: block;
    width: 36px;
    height: 6px;
    margin: 7px 0;
    background-color: #141414;
}
@media (min-width: 800px) and (orientation: landscape){
    .contenedor-inferior{
         height: 395px;
    display: flex;
    justify-content: space-between;
    padding: 74px 0 0 0;
    }
}
.bienvenida{
    width: 291px;
    height: 96px;
    margin: 72px 42px;
    text-align: center;
    font-family: "open Sans";
    font-size: 48px;
}

.foto-pablo{
   width: 318px;
    height: 300px;
    margin: 0 30px;  
}
@media (min-width: 800px) and (orientation: landscape){
    .foto-pablo{
     
        width: 435px;
        height: 395px;
        align-self: baseline;
    
    }
}
@media (min-width: 800px) and (orientation: landscape){
    .imagen-pablo{
        padding-bottom: 0;
        }
}

.botones-lateral {   
    display: none;
}

@media (min-width: 800px) and (orientation: landscape) {
    .logo {
		margin-top: 16px;
		width: 100px;
		height: 100px;
	}
    .bienvenida{text-align: left;
		margin-right: 40px;
		
		font-family: Open Sans;
		font-size: 48px;
		font-weight: 700;
		line-height: 48px;
		letter-spacing: -1px;
	}
    .botones-lateral {
        margin-right: 60px;
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto;
        gap: 50px;
       }



}
.contenedor-presentacion-info{
    background-color: #141414;
    width: 100%;
    height: 538px;
    
}
@media (min-width: 800px) and (orientation: landscape) {
    .contenedor-presentacion-info {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center;
      padding-right: 20px;

    }
  }
  @media (min-width: 800px) and (orientation: landscape) {
    .contenedor-presentacion-texto {
        display: flex;
      flex-direction: column;
      width: 532px;
      margin-bottom: 40px;
      margin-right: 100px;

    }
  }


.mi-nombre{
    text-align: center;
    padding-top: 55px;
    font-family: "open Sans";
    font-size: 32px;
    color: #FAFAFA;
}
@media (min-width: 800px) and (orientation: landscape) {
    .mi-nombre {
      text-align: left;
      padding-top: none;
    }
  }

.bio{
    margin: 41px 32px 57px 32px;
    height: 193px;
    width: auto;
    color: #FAFAFA;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}
@media (min-width: 800px) and (orientation: landscape) {
    .bio {
      margin:0;
      height: 165px;
      max-width: 350px;
      
    }
  }


.contenedor-logo-dos{
    width: 100%;
    display: flex;
}
@media (min-width: 800px) and (orientation: landscape){
    .contenedor-logo-dos{
       width: 400px;
       
    }
}

.logo-check-dos{
    width: 80px;
    height: 80px;
    margin: auto;
}
@media (min-width: 800px) and (orientation: landscape){
    .logo-check-dos{
        width: 200px;
        height: 200px;

       
    }
}

.contenedor-descripcion{
    width: 100%;
    height: 1375px;
}
@media (min-width: 800px) and (orientation: landscape){
    .contenedor-descripcion{
        width: 100%;
        height: 604px;
    }
}

.mis-servicios{
    text-align: center;
    margin-top: 70px;
        font-family: "open Sans";
        font-size: 32px;
}
@media (min-width: 800px) and (orientation: landscape){
    .mis-servicios{
        text-align: center;
        margin-top: 70px;
        font-family: "open Sans";
        font-size: 48px;
}
}
@media (min-width: 800px) and (orientation: landscape){
    .caja{
        display: flex;
    flex-direction: row;
    justify-content: space-around;
    }
}
.subcaja-uno, .subcaja-dos, .subcaja-tres{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:  48.41px;
}

.logo-profesor{
    width: 138px;
    height: 128.03px;
}
.titulo-uno{
    font-size: 24px;
    font-family: "roboto";
    text-align: center;
    margin: 19px 52px;
}
.texto-uno{
    font-size: 16px;
    font-family: "roboto";
    text-align: center;
    color: #2C2C2C;
    width: 262px;
    height: 117px;
}

.logo-musica{
    width: 138px;
    height: 128.03px;
}
.titulo-dos{
    font-size: 24px;
    font-family: "roboto";
    text-align: center;
    margin: 19px 52px;
}
.texto-dos{
    font-size: 16px;
    font-family: "roboto";
    text-align: center;
    color: #2C2C2C;
    width: 262px;
    height: 117px;
}

.logo-computadora{
    width: 138px;
    height: 128.03px;
}
.titulo-tres{
    font-size: 24px;
    font-family: "roboto";
    text-align: center;
    margin: 19px 52px;
}

.texto-tres{
    font-size: 16px;
    font-family: "roboto";
    text-align: center;
    color: #2C2C2C;
    width: 262px;
    height: 117px;
}


.contenedor-input{
    height: 660px; 
    background-color:#141414;
}
@media (min-width: 800px) and (orientation: landscape){
    .contenedor-input{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 116px 0 116px 0;
    }
}
.escribime{
    text-align: center;
    padding-top: 50px;
        font-family: "open Sans";
        font-size: 32px;
        color:#FAFAFA
}

@media (min-width: 800px) and (orientation: landscape){
    .escribime{
        text-align:left;
        padding-top: 0px;
            font-family: "open Sans";
            font-size: 32px;
            display: inline;
            color:#FAFAFA
    }
}


.label{
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: #FAFAFA;
    
    
}
.form{
 margin-top: 20px;
 width: 100%;
 display: grid;
gap:30px ;
max-width: 450px;
color:#FAFAFA;
justify-items:  center;
align-items: center;
}

.grupo-mensaje{
    display: flex;
    flex-direction: column;
}
.input-text{
    background-color:#FFFFFF;
    border: none;
    font-size: 24px;
    display: block;
    padding: 15px;
    font-family: "Roboto" ;
    width: 335px;
    height: 4px;
}
.textarea{
    box-sizing: border-box;
  width: 335px;
}
.boton{
    width: 335px;
    height: 45px;
    background-color: #FFD953;
    font-family: Roboto;
    border: none;
    font-size: 16px;
    font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}

.pie-pagina{
padding: 53px 20px 113px 20px;
background-color: #DBDBDB;
}
@media (min-width: 800px) and (orientation: landscape){
    .pie-pagina{
    display: flex;
    }
}

.grupo-uno{
    display: flex;
    flex-direction: column;
    padding: 0 0 85px 0;                           
}
@media (min-width: 800px) and (orientation: landscape){
    .grupo-uno{
        display: inline-flex;
        padding: 50px 80px;
    }
}

.logo-footer{
    width: 79px;
    height: auto;
}
@media (min-width: 800px) and (orientation: landscape){
    .logo-footer{
        width: 112px;
        height: auto;
}
}

.copyright {
    margin: 18px 0 0 0;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
  }

  @media (min-width: 800px) and (orientation: landscape){
    .copyright{
        margin: 18px 0 0 18px;
    }
  }
.grupo-dos-redes{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 20px;
    }
@media (min-width: 800px) and (orientation: landscape){
    .grupo-dos-redes{
       display: inline-flex;
       padding-left: 350px;
       }
}
.grupo-dos{
    align-items: center; 
}
@media (min-width: 800px) and (orientation: landscape){
    .grupo-dos{
        display: flex; 
    }
}
.redes-sociales {
display: inline;
  width: 38px;
  height: 38px;
  margin: 5px 0 0 0;
}

.nombre-redes-sociales{
display: inline;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 7px;
}